@import '../abstract/variables';

.form {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 2rem auto;
  padding: 1rem 0;
  width: 80%;

  &-border {
    border-bottom: 0.5rem double $color-four;
    border-top: 0.5rem double $color-four;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem 0;
    width: 90%;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    margin: 0.2rem auto 2rem;
    padding: 0 1rem;
    text-transform: uppercase;
    width: 70%;
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 1rem;
    text-transform: uppercase;
  }

  .form-field {
    align-items: center;  
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 1rem;

    &__label {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: left;
      width: 40%;
    }

    &__input {
      border-radius: 0.5rem;
      font-size: 1rem;
      padding-left: 0.5rem;
      width: 60%;

      &:hover, &:focus {
        outline: 1px solid $color-three;
      }

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &__input[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
  
  &__button {
    background-color: $color-zero;
    border: 1px solid $color-three;
    border-radius: 0.5rem;
    color: $color-three;
    display: block;
    font-size: 1.2rem;
    height: 2.5rem;
    margin: 1rem auto 0;
    text-align: center;
    width: 5rem;
    transition: 0.3s;

    &:hover {
      border: 1px solid $color-zero;
      color: $color-zero;
      background-color: $color-three ;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 800px) {
  .form-field__input {
    font-size: 1.2rem !important;
  }
}
  
@media screen and (min-width: 1200px) {
  .form {
    width: 50%;
  }
}