@import '../abstract/variables';
@import '../abstract/mixins';

.form {
  @include GeneralLayout;

  .form-field {
    align-items: center;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 1rem;

    &__label {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: left;
      width: 40%;
    }

    &__input {
      border-radius: 0.5rem;
      font-size: 1rem;
      padding-left: 0.5rem;
      width: 60%;

      &:hover, &:focus {
        outline: 1px solid $color-three;
      }

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &__input[type=number] {
        -moz-appearance: textfield;
      }
    }

    &__separator {
      color: $color-zero;
      font-size: 0.8rem;
    }
  }

  &__button {
    background-color: $color-zero;
    border: 1px solid $color-three;
    border-radius: 0.5rem;
    color: $color-three;
    display: block;
    font-size: 1.2rem;
    height: 2.5rem;
    margin: 1rem auto 0;
    text-align: center;
    width: 5rem;
    transition: 0.3s;

    &:hover {
      border: 1px solid $color-zero;
      color: $color-zero;
      background-color: $color-three ;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 800px) {
  .form-field__input {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 50%;
  }
}
