@import '../abstract/variables';

.species {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  
  .species__legend {
    font-size: 1.4rem;
    text-align: center;
    padding: 0 1rem 0.5rem;
    width: 90%;
  }

  .species__label {
    font-size: 1.1rem;
  }
}