@import '../abstract/variables';
@import '../abstract/mixins';

.user {
  @include GeneralLayout;

  &-border {
    align-items: stretch;
    display: flex;

    &__button--exit {
      background-color: red;
      border: 1px solid;
      border-radius: 5px;
      color: $color-three;
      display: block;
      margin-right: 1rem;;
      width: 3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

}

.avatar {
  display: flex;
  padding: 1rem;

  &-flex {

    &__image {
      background: black;
      background-size: cover;
      background-position: center;
      display: inline;
      height: 125px;
      width: 125px;
    }

    &__button {

      display: block;
      margin: 0.3rem auto;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__paragraph {
    display: block;
    margin-left: 1rem;
  }

}

@media screen and (min-width: 800px) {
  .avatar {

    padding: 1rem 5rem ;
  .avatar-flex {

    &__image {
      height: 250px;
      width: 250px;
    }
  }
}
}

