/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background: #008a8a;
}

.form {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 2rem auto;
  padding: 1rem 0;
  width: 80%;
}
.form-border {
  border-bottom: 0.5rem double white;
  border-top: 0.5rem double white;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 1rem 0;
  width: 90%;
}
.form__title {
  font-size: 2rem;
  text-align: center;
  margin: 0.2rem auto 2rem;
  padding: 0 1rem;
  text-transform: uppercase;
  width: 70%;
}
.form__subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 1rem;
  text-transform: uppercase;
}
.form .form-field {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 1rem;
}
.form .form-field__label {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  width: 40%;
}
.form .form-field__input {
  border-radius: 0.5rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  width: 60%;
}
.form .form-field__input:hover, .form .form-field__input:focus {
  outline: 1px solid #F2FA5A;
}
.form .form-field__input::-webkit-outer-spin-button, .form .form-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form .form-field__input__input[type=number] {
  -moz-appearance: textfield;
}
.form .form-field__separator {
  color: #4D77FF;
  font-size: 0.8rem;
}
.form__button {
  background-color: #4D77FF;
  border: 1px solid #F2FA5A;
  border-radius: 0.5rem;
  color: #F2FA5A;
  display: block;
  font-size: 1.2rem;
  height: 2.5rem;
  margin: 1rem auto 0;
  text-align: center;
  width: 5rem;
  transition: 0.3s;
}
.form__button:hover {
  border: 1px solid #4D77FF;
  color: #4D77FF;
  background-color: #F2FA5A;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .form-field__input {
    font-size: 1.2rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: 50%;
  }
}
.redirect {
  font-size: 1.2rem;
  margin-top: 3rem;
  text-align: center;
}
.redirect .redirect__link {
  color: blue;
}

.species {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
}
.species .species__legend {
  font-size: 1.4rem;
  text-align: center;
  padding: 0 1rem 0.5rem;
  width: 90%;
}
.species .species__label {
  font-size: 1.1rem;
}

.user {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 2rem auto;
  padding: 1rem 0;
  width: 80%;
}
.user-border {
  border-bottom: 0.5rem double white;
  border-top: 0.5rem double white;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 1rem 0;
  width: 90%;
}
.user__title {
  font-size: 2rem;
  text-align: center;
  margin: 0.2rem auto 2rem;
  padding: 0 1rem;
  text-transform: uppercase;
  width: 70%;
}
.user__subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 1rem;
  text-transform: uppercase;
}
.user-border {
  align-items: stretch;
  display: flex;
}
.user-border__button--exit {
  background-color: red;
  border: 1px solid;
  border-radius: 5px;
  color: #F2FA5A;
  display: block;
  margin-right: 1rem;
  width: 3rem;
}
.user-border__button--exit:hover {
  cursor: pointer;
}

.avatar {
  display: flex;
  padding: 1rem;
}
.avatar-flex__image {
  background: black;
  background-size: cover;
  background-position: center;
  display: inline;
  height: 125px;
  width: 125px;
}
.avatar-flex__button {
  display: block;
  margin: 0.3rem auto;
}
.avatar-flex__button:hover {
  cursor: pointer;
}
.avatar__paragraph {
  display: block;
  margin-left: 1rem;
}

@media screen and (min-width: 800px) {
  .avatar-flex__image {
    height: 250px;
    width: 250px;
  }
}
.avatar-flex {
  margin: 0 auto;
}

.form__button--delete {
  background-color: red;
  border: 1px solid #F2FA5A;
  border-radius: 0.5rem;
  color: #F2FA5A;
  display: block;
  font-size: 1.2rem;
  height: 2.5rem;
  margin: 1rem auto 1rem;
  text-align: center;
  width: 10rem;
  transition: 0.3s;
}
.form__button--delete:hover {
  border: 1px solid #4D77FF;
  color: #4D77FF;
  background-color: #F2FA5A;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */