    <form class="form" id="formRegister" action="">
      <h2 class="form__title">Cadastro</h2>
      <div class="form-border">
        <h2 class="form__subtitle">Usuário</h2>
        <div class="form-field">
          <label class="form-field__label" for="name">Nome</label>
          <input class="form-field__input" type="text" name="name" id="name" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="email">Email</label>
          <input class="form-field__input" type="email" name="email" id="email" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="cpf">CPF</label>
          <input class="form-field__input" type="number" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" maxlength="11" name="cpf" id="cpf" placeholder="Somente Números" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="pis">PIS</label>
          <input class="form-field__input" type="number" maxlength="6" name="pis" id="pis" placeholder="Somente Números" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="password">Senha</label>
          <input class="form-field__input" type="password" name="password" id="password" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="password-confirm">Confirmar Senha</label>
          <input class="form-field__input" type="password" name="password-confirm" id="password-confirm" required>
        </div>

        <h2 class="form__subtitle">Endereço do usuário</h2>
        <div class="form-field">
          <label class="form-field__label" for="country">País</label>
          <input class="form-field__input" type="text" name="country" id="country" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="state">Estado</label>
          <input class="form-field__input" type="text" name="state" id="state" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="city">Município</label>
          <input class="form-field__input" type="text" name="city" id="city" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="cep">CEP</label>
          <input class="form-field__input" type="text" name="cep" id="cep" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="street">Rua</label>
          <input class="form-field__input" type="text" name="street" id="street" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="number">Número</label>
          <input class="form-field__input" type="text" name="number" id="number" required>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="complement">Complemento</label>
          <input class="form-field__input" type="text" name="complement" id="complement" required>
        </div>

    </div>
      <button class="form__button" type="submit" (click)="validatePassword()">Enviar</button>
      <div class="redirect">
        <p class="redirect__text">Já tem cadastro ?</p>
        <a routerLink="/login">Faça Login Aqui</a>
      </div>
    </form>
