@import './variables';

@mixin GeneralLayout {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 2rem auto;
  padding: 1rem 0;
  width: 80%;

  &-border {
    border-bottom: 0.5rem double $color-four;
    border-top: 0.5rem double $color-four;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem 0;
    width: 90%;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    margin: 0.2rem auto 2rem;
    padding: 0 1rem;
    text-transform: uppercase;
    width: 70%;
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 1rem;
    text-transform: uppercase;
  }
}
