//Colors
$color-zero: #4D77FF;
$color-one: #56BBF1;
$color-two: #008a8a ;
$color-three: #F2FA5A;
$color-four: white;

//Image Paths
$userPlaceholder: "./assets/images/userplaceholder.png";
$htmlBackground: "./assets/images/background.jpg";
